<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 class="subject">Chào mừng bạn đến website bán hàng trực tuyến</h1>
    <ul>
        <li><a href="{{ url_for('product_list') }}">Tất cá sản phẩm</a></li>
        {% for c in categories %}
        <li><a href="{{ url_for('product_list', category_id=c.id) }}">{{ c.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>