<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="subject">
            Danh mục sản phẩm
            {% if category_name %}
                ( {{ category_name }} )
            {% endif %}
        </h1>
        <p><a href="{{ url_for('home') }}">Quay về trang chủ</a></p>
    </div>
    <div class="container">
        <form method="get" class="search-form">
            <input
                type="text"
                name="keyword"
                placeholder="Nhập tên sản phẩm..."
                value="{{ request.args.get('keyword', '') }}"
            >

            <input
                type="number"
                name="from_price"
                placeholder="Giá từ"
                value="{{ request.args.get('price_from', '') }}"
            >

            <input
                type="number"
                name="to_price"
                placeholder="Giá đến"
                value="{{ request.args.get('price_to', '') }}"
            >

            {% if request.args.get('category_id') %}
                <input type="hidden" name="category_id" value="{{ request.args.get('category_id') }}">
            {% endif %}

            <button type="submit">Tìm kiếm</button>
        </form>
    </div>
    <div class="container">
        <table class="product-table">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Giá tiền</th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                <tr>
                    <td>
                        <a href="{{ url_for('product_detail', product_id=p.id ) }}">
                            <img class="product-img" src="{{ url_for('static', filename=p.image) }}" alt="{{ p.name }}">
                        </a>
                    </td>
                    <td>{{ p.id }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ '{:,.0f}'.format(p.price) }} VNĐ</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>