{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/about.css">
    <div class="container">
        <h1>About Page</h1>
        <p>
            Đây là trang <strong>About</strong> được tạo bằng Flask.
        </p>
        <p>
            Flask là một web framework nhẹ của Python, rất phù hợp để học backend
            và xây dựng API.
        </p>
        <p>
            Sinh viên: <strong>Hữu Thủy</strong><br>
            Trường đại học Duy Tân
        </p>
        <a href="/">← Quay về trang chủ</a>
    </div>
{% endblock %}