{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/home.css">
    <div class="container">
        <h1>Welcome to Home Page</h1>
        <p>Đây là trang chủ của website Flask.</p>

        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <br>
        <!--Thông tin bài đăng của tác giả-->
        <div>
            {% for post in posts %}
                <h1>Title: {{ post.title}} </h1>
                <h2>Subtitle: {{ post.subtitle }}</h2>
                <p>Desc: {{ post.description }} - Content: {{ post.content }}</p>
                <div>
                    <i>By: {{ post.author }} || {{ post.datePublished }}</i>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}